


  .logo{
    width: 15%;
  }




  .c-contain{
      background-size: cover;
      background-position: center;
      width: 100%;
      height: auto;;
      }



    .c-centered{
      width:80%;
      margin: 0 auto;
      text-align: center;
      display: block;
    }

    .c-centered p{
      color: #fff;
      font-family: CantataOne-Regular;
      font-size: 1em;
      margin-top: 2%;
  }

      .c-centered h1 {
        font-family: georgia;
        color: #fff;
        font-size: 2.5em;
        font-weight: bolder;
        margin-top: 5%;
    }

  /* BUTTON */
    .c-centered button{
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      border: 1px solid #fff;
      color: #fff;
      background: transparent;
      text-align: right !important;
      padding: 15px 70px;
      transition: .3s ease-in;
      margin-bottom: 5%;
    }

    .c-centered button:hover{
      background-color: #fff;
      color: #009cde;
      border: none;
      cursor: pointer;
    }


  /* input starts here */
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 1em;
    color: #fff;
    top: -2.25rem;
    -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .styled-input {
    float: none;
    width: 75.3333%;
    margin: 2rem 0 1rem;
    position: relative;
    margin: 5% auto;
  }

  .styled-input label {
    color: #fff;
    padding: 1rem;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .styled-input.wide {
    width: 100%;
  }

  input,
  textarea {
    padding: 1rem 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
    border-bottom: 1px solid #fff !Important;
    background-color: transparent;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    left: 0;
    border-left: none;
    right: 0;
  }

  input ~ span,
  textarea ~ span {
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  input:focus,
  textarea:focus {
    outline: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  input:focus ~ span,
  textarea:focus ~ span {
    width: 106%;
    -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  }

  textarea {
    width: 100%;
    min-height: 15em;
  }

  @media only screen and (max-width: 500px) {
    /*FORM CADASTRO*/
    .c-centered h1 {
      font-family: georgia;
      color: #fff;
      font-size: 28px;
      font-weight: bolder;
      margin-top: 15%;
    }
    .c-centered {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    .styled-input {
      float: none;
      width: 75.3333%;
      margin: 2rem 0 1rem;
      position: relative;
      margin: 10% auto;
    }
  }
  .recursos{
    list-style: none;
    list-style-type: none;
    text-align: center;
    margin: 1% auto;
  }
  .products-resources{
    padding: 0
  }

.contato{
  margin: 1% auto;
  display: inline-block;
  font-size: 20px;
  margin-left: 2%;
}
.ilb{
  display: inline-block !important;
  margin: 1% 2%
}
.container2{
  width: 100% !important;
  margin: 0 auto;
  padding: 0;
}
  .pg-canvas{
    position: absolute !important;
    left: 0;
    right: 0;
    z-index: 9;
  }

  .enter-text{
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    color: #fff;
  }


  .enter-text h3{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 3.8em;
    font-weight: 300;
  }


  .btn-entry{
  padding: 15px 67px;
  font-size: 30px;
  border-radius: 4px;
  background-color: #00aeff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  }

  .presentation-text{

  }

  .resource{
    padding-left: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 333px;
  }

  .resource i{
    font-size: 6em;
  }
  .resource h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
  }
  .resource p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
